// =============================================================================
//
// HIDE
//
// =============================================================================

// -----------------------------------------------------------------------------
// NORMAL
// -----------------------------------------------------------------------------

.hide {
	display: none !important;
	visibility: hidden !important;
}

// -----------------------------------------------------------------------------
// HIDE ON DESKTOP
// -----------------------------------------------------------------------------

.hide-desktop {

	// -- BREAKPOINTS

	@include breakpoint($narrow) {
		display: none !important;
		visibility: hidden !important;
	}
}

// -----------------------------------------------------------------------------
// HIDE ON MOBILE
// -----------------------------------------------------------------------------

.hide-mobile {

	display: none !important;
	visibility: hidden !important;

	// -- BREAKPOINTS

	@include breakpoint($narrow) {
		display: block !important;
		visibility: visible !important;
	}
}
