// =============================================================================
//
// SKINS
//
// =============================================================================

// -----------------------------------------------------------------------------
// BACKGROUND COLOR
// -----------------------------------------------------------------------------

.skin-bg-devastator {
	background-color: $color-devastator;
}

// -----------------------------------------------------------------------------
// TEXT
// -----------------------------------------------------------------------------

.skin-txt-hotrod {
	color: $color-hotrod;
}

.skin-txt-ultramagnus {
	color: $color-ultramagnus;
}

.skin-txt-jetfire {
	color: $color-jetfire;
}

.skin-txt-bumblebee {
	color: $color-bumblebee;
}
