
// -----------------------------------------------------------------------------
// ICON BUTTON
// -----------------------------------------------------------------------------

.btn--icon {
	padding: rem(14);
	font-size: rem(14);
}

// -----------------------------------------------------------------------------
// ICONS in BUTTONS
// -----------------------------------------------------------------------------

.btn i {
  font-size: rem(16);
}
