// =============================================================================
//
// CLOSE SURFACE
//
// =============================================================================

// -----------------------------------------------------------------------------
// BASE
// -----------------------------------------------------------------------------

.close-surface {

	// Size
	width: 100%;
	height: 100%;

	// Position
	position: fixed;
	top: 0;
	left: 0;
	z-index: $z-index-7;

	// Skin
	background-color: rgba(0,0,0,0);

	// Hidden until nav is open
	opacity: 0;
	visibility: hidden;
}

// -----------------------------------------------------------------------------
// CLOSE ALL OF THE THINGS
// -----------------------------------------------------------------------------

.nav--is-on .close-surface,
.off-canvas--is-on .close-surface,
.dropdown--is-on .close-surface,
.search--is-on .close-surface {
	opacity: 1;
	visibility: visible;
}
