// =============================================================================
//
// TABLES
//
// =============================================================================

// -----------------------------------------------------------------------------
// BASE
// -----------------------------------------------------------------------------

.outline-box {
	border: solid 3px $color-megatron;
	padding: rem(20);
}

// remove margin on the last item in the outline box so there is not too much space at the bottom
.outline-box :last-child {
	margin-bottom: 0;
}
