// =============================================================================
//
//  UL / OL
//
// =============================================================================

// -----------------------------------------------------------------------------
// GLOBAL RESET
// -----------------------------------------------------------------------------

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

// -----------------------------------------------------------------------------
// BASE
// -----------------------------------------------------------------------------

.ul,
.ol,
ul,
ol {
	font-size: rem(16);
	color: $color-trypticon;
	li {
		margin-bottom: rem(14);
		line-height: rem(26);
	}
}

// -----------------------------------------------------------------------------
// MODIFIERS
// -----------------------------------------------------------------------------

// BULLETS
// ---------------------------------------------------------------------------

.ul--bullets,
.ol--bullets {
	list-style: inside;
	list-style-type: none;

	li {
		position: relative;
		padding-left: rem(20);
	}
	li:before {
		font-family: $iconakron;
		position: absolute;
		left: 0;
		top: 0;
		content: $fs-bullet;
		color: $color-bumblebee;
		font-size: rem(12);
		display: block;
	}
	a {
		text-decoration: underline;
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}

// BULLET SKINS
// ---------------------------------------------------------------------------

.ul--bullets-alt,
.ol--bullets-alt {
	li:before {
		color: $color-grimlock;
	}
}
