// =============================================================================
//
// INPUT GROUPS
//
// =============================================================================

// -----------------------------------------------------------------------------
// GROUP
// -----------------------------------------------------------------------------

.form-field__group {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

// -----------------------------------------------------------------------------
// ADDON
// -----------------------------------------------------------------------------

.form-field__addon {
  background-color: $color-megatron;
  height: rem(34);
  max-height: rem(34);
  line-height: rem(34);
  overflow: hidden;
  font-size: rem(15);
  color: $color-trypticon;
  padding: 0 rem(14);
}

// -----------------------------------------------------------------------------
// OVERRIDE
// -----------------------------------------------------------------------------

.form-field__group .form-field__input {

  // switch to auto so there is room for addon
  width: auto;
}
